// Graphical variables
@import 'config/fonts';

// Global styling
body {
  padding: 20px 60px;
  font-family: $body-font;
  background-color: rgb(230, 230, 230);
}

a {
  text-decoration: none;
  color: black;
}

#icon-link {
  text-align: center;
}

* {
  box-sizing: border-box;
}
